---
title: Categories
group: navigation
---

<% blog.categories.each do |category, pages | %>
  <h2><%= link_to(category, category_path(category)) %></h2>
    <ul>
    <% pages.each do |page| %>
      <li><%= link_to_page(page) %></li>
    <% end %>
    </ul>
  </li>
<% end %>



