---
index: true
layout: page
---

<% content_for(:title, index_name) %>

<ul>
  <% current_page.children.each do |p| %>
  <li><%= link_to(h(p.data.title || File.split(p.path).first.split("/").last), p) %></li>
  <% end %>
</ul>


