---
numbering_headings: false
---

<% page ||= current_page %>

<% content_for :title, "Index: " + page.title %>



<% folders = []; pages = [] ;%>
<% page.children.each {|p| (p.directory_index?) ? folders.push(p) : pages.push(p)} %>
   
<% if ! folders.empty? %>
<h2>Folders</h2>
<ul>
<% folders.each do |p| %>
  <li><%= link_to_page(p) %></li>
<% end %>
</ul>
<% end %>



<% if ! pages.empty? %>
<h2>Pages</h2>
<%= partial("partials/summary", locals: {pages: pages}) %>
<% end %> 
   
