---
---

<h1>Archives for <%= year %></h1>

<% articles.group_by {|a| a.date.month }.each do |month, month_articles| %>
<h3><%= link_to_archives(Date.new(year, month, 1).strftime("%b"), :month, year, month) %></h3>
<ul>
  <% month_articles.each do |article| %>
  <li><%= link_to(article.title, article) %></li>
  <% end %>
</ul>
<% end %>
