<% wrap_layout :layout do %>

<% page ||= current_page %>

<section class="page">
  <header>
    <%= breadcrumbs(page) %>
    <h1><%= h(page_title(page) || yield_content(:title)) %></h1>
  </header>

  <section class="content">
    <%= yield %>
  </section>

  <footer>
  </footer>
</section>

<% end %>

