
<% articles ||= blog.articles %>


<% articles.each do |article| %>
<article class="article_summary">
  <header>
    <h1><%= link_to_page(article) %></h1>
    <section class="page_info">
      <%= partial("partials/article_info", {locals: {article: article}}) %>
    </section>
  </header>
  <section class="page_content">
    <%= article.digest(250) %>
    <%= link_to("... read more", article) %>
  </section>
</article>
<% end %>

