---
title: Archives
date: 2015-04-01
group: navigation

---

<ul>
<% aks.articles.group_by {|a| a.date.year }.each do |year, articles| %>
<li><%= link_to_archives(year, :year, year) %></li>
<% end %>
</ul>


