---
title: Archives
date: 2015-04-01
group: navigation

---

<ul>
<% aks.pages.group_by {|a| page_date(a).year }.each do |year, pages| %>
<li><%= link_to_archives(year, :year, year) %></li>
<% end %>
</ul>


