---
title: Home
layout: page
pageable: true
per_page: 10
---

Hi, This is my site.

<h1>Recent Articles </h1>

<%= partial("partials/summary", locals: {articles: page_articles}) %>


<% if paginate %>
<%= partial("partials/pagination") %>
<% end %>
